$width-img: 24%;
$width-caja-beneficios: 27%;
$width-caja-beneficios-xl: 75%;
$width-caja-beneficios-sm: 100%;
$width-ventajas-ct-container: 48%;
$width-ventajas-ct-container-lg: 95%;
$width-input-form: 40%;
$width-input-form-xl: 70%;
$width-input-form-lg: 60%;
$width-input-form-sm: 90%;